.d-flex{
    display: flex;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}
.flex-direction-column-center{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.ui.segment .item{
    padding: 0 !important;
    margin: 0 3px;
}
.ui.segment{
  margin: 0 !important;
}
.ui.fixed.top.sticky{
    top: 115px !important;
}

.my_header{
    border-top: none;
    border-left: none;
    border-right: none;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    position: sticky;
    z-index: 101;
    margin: 0;
    width: 100%;
    height: 114px;
}

.custom_flex_direction{
    flex-direction: column !important;
}

.custom_margin_null{
    margin: 0
}

.main_header{
    background: linear-gradient(
        45deg
        ,#0288d1,#26c6da)!important;
}
.main_header_items{
    color: white !important;
    justify-content: space-between;
}
.main_header_items.active {
    font-weight: bold !important;
}

.small_logo_pics{
    width: 25px !important;
}

.sub_header_items{
    width: 90px;
    text-align: center;
}
.sub_header_items.active{
    font-weight: bold;
    border-bottom: 2px solid #0288d1;
    border-radius: 2px;  
}

.sub_header_items:hover{
    font-weight: bold;
    border-bottom: 2px solid #0288d1;
    border-radius: 2px;  
}