.ui.sticky {
  position: static !important;
  transition: none;
  z-index: 800;
}

.table_holder {
  margin-top: 115px;
  padding: 6px 10px !important;
}

.ant-tree-treenode-selected {
  border-radius: 0;
}

.ant-tree-treenode-selected .ant-tree-title,
.ant-tree-treenode-selected .anticon {
  color: #0288d1;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: #dbf2ff !important;
  border-radius: 2px;
}
.group_col_wrapper_side {
  position: sticky !important;
  top: 136px;
  max-height: 337px;
  overflow: auto;
}

.table_holder_section.download_page {
  text-align: center;
}

.ant-tree-list {
  z-index: 0 !important;
}

.ui.segment.custom_table_loader {
  border: 0 !important;
  border-radius: 0 !important;
}

.tab_wrapper .ui.menu {
  border: none !important;
  box-shadow: none !important;
}

.tab_wrapper .ui.menu .item {
  background: #f9f9f9 !important;
  width: 7vw;
  height: 2.5vw;
  flex-direction: column;
  justify-content: center;

}

.tab_wrapper .ui.menu .item.active {
  background: #0288d1 !important;
  color: white !important;
}
