.buttons_wrapper h1 {
    color: red;
    font-size: 12px;
}

.suffixed {
    font-size: 16px;
    color: #1890ff !important;
    cursor: pointer !important;
}


.doc_header_buttons{
    margin: 20px 0;
}

.doc_header_buttons .customclosebtn{
    margin-left: 10px;
    border-radius: 3px;
    background: #f9f9f9 !important;

}
.doc_header_buttons .customclosebtn:hover{
    color: red !important;
    border-color: red !important;
}

 .customsavebtn{
    background: #5eba7d !important;
    border-radius: 3px;
    color: white !important;
}
.custom_top_margin{
    margin-top:10px !important;
}

.position_fixed {
    position: fixed !important;
    transition: none;
    z-index: 800;
    width: 100% !important;
  }

  .buttons_holder{
      height: 70px;
      background-color: white;
      z-index: 4 !important;
  }
  .buttons_center{
      display: flex;
      align-items: center;
      height: 100%;
  }

  .buttons_center a{
    margin:0 4px !important;
    opacity: 1 !important;
  }
  .menu.transition.visible{
      z-index: 99 !important;
  }

  .buttons_wrapper_side{
    row-gap: 0px;
    position: sticky;
    top: 60px;
    z-index: 20000;
    background: white;
  }