.doc_forms .ant-row.ant-form-item{
    justify-content: space-between;
}


.doc_forms .ant-form-item-label {
    overflow: initial;
}

.doc_form_field_wrapper {
    justify-content: space-between;
}

.doc_status_formitem_wrapper_col .ant-row.ant-form-item{
    justify-content: flex-end !important;
}

.form_item_with_icon {
display: flex;
justify-content: space-between;
}
.form_item_with_icon .add_elements{
    padding: 4px;
    font-size: 21px;
    color: #0288d1;
    margin-bottom: 24px;
    cursor: pointer;    
}

.form_header_wrapper{
    position: sticky;
    top: 114px;
    background-color: white;
    z-index: 1;
}
.doc_info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form_item_with_icon .add_elements{
    padding: 4px;
    font-size: 21px;
    color: #0288d1;
    margin-bottom: 24px;
    cursor: pointer;    
}






.form_item_with_icon .ant-row.ant-form-item{
    width: 100%;
}